---
import Social from "./Social.astro";
const daniel = {
    platforms:[
        {icon: 'mdi--github',title: 'github',username: 'andinodev', url: 'https://github.com/andinodev'},
        {icon: 'mdi--youtube',title: 'youtube', username: 'andinodev', url: 'https://youtube.com/@andinodev-cm1yo'},
    ]
};
---
<style>
    .nice-footer{
        background: #202020;
    }


</style>

<div class="w-full nice-footer">

<Social platforms={daniel.platforms} class=" container"/>
</div>