---

---
<style>
    .nav-header{
        background: #202020;
    }
    .nav-header a{
        padding: 10px;
        color: #ffc400;
    }
    .nav-header a:hover{
        background: #20202020;
    }
</style>
<header class="nav-header">
    <div class="container nav-links">
        <a href="/">Inicio</a>
        <a href="/about">Sobre</a>
    </div>
</header>
